body {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 10pt; }

#page {
  width: 1200px; }

#renderingContainer {
  background: #eee;
  width: 800px;
  height: 500px; }

#messages {
  float: left;
  width: 100%; }

#messages-wrapper {
  min-height: 4em; }

.message {
  font-size: 90%;
  padding: .3em;
  margin-bottom: 2px;
  color: #444; }
  .message.error {
    border-color: #bb0000;
    background-color: #ffdddd;
    color: #bb0000; }
  .message.chatMessage {
    /*border: 1px solid #ccc;
    background-color: #F4F4F4;*/
    padding: .5em;
    color: #555; }
  .message.statusChanged {
    border-top: 1px solid #DDD;
    margin-top: 10px;
    color: #666; }
    .message.statusChanged .content {
      text-align: center;
      font-size: 80%;
      float: left; }
    .message.statusChanged .content, .message.statusChanged .time {
      margin-top: -10px;
      background-color: #FFF;
      padding: 0 .5em; }
  .message p {
    margin: 0;
    padding: 0; }
  .message .time {
    float: right;
    font-size: 80%;
    color: #AAA; }
  .message .sender {
    font-size: 80%;
    font-weight: bold;
    padding-right: .5em; }
  .message .sender, .message .messageText {
    display: inline; }

#logArea {
  float: right;
  width: 398px;
  height: 500px;
  padding: 1px; }
  #logArea input#text {
    display: block;
    width: 100%; }

#log {
  border: 1px solid #CCC;
  padding: .1em;
  height: 450px; }

#overlay {
  opacity: .8;
  background-color: #DDD;
  position: absolute; }

#overlayMessage {
  font-size: 300%;
  color: #999;
  position: absolute;
  text-transform: uppercase; }
