body {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 10pt; }

#page {
  width: 1200px; }

#renderingContainer {
  background: #eee;
  width: 800px;
  height: 500px; }

#messages {
  float: left;
  width: 100%; }

#messages-wrapper {
  min-height: 4em; }

.message {
  font-size: 90%;
  padding: .3em;
  margin-bottom: 2px;
  border: 1px solid #bbb;
  background-color: #eee;
  color: #888; }
  .message.error {
    border-color: #bb0000;
    background-color: #ffdddd;
    color: #bb0000; }
  .message p {
    margin: 0;
    padding: 0; }

#logArea {
  float: right;
  width: 398px;
  height: 500px;
  padding: 1px; }
  #logArea input#text {
    display: block;
    width: 100%; }

#log {
  border: 1px solid #CCC;
  padding: .1em;
  height: 450px; }
